.formWrapper {
  @apply flex flex-col gap-2 items-center;
}

.photoContainer {
  @apply flex flex-col gap-2 w-full focus:ring-2 focus:ring-gray900 focus:ring-offset-2;
}
.photo {
  @apply absolute z-10 w-full h-64 opacity-0 cursor-pointer  border border-black;
}

.carouselWrapper {
  @apply flex bg-gray500 w-72 h-72;
}

.uploadImage {
  @apply border w-72 h-72 focus:ring-2 focus:ring-gray700 focus:ring-offset-2;
}

.uploadBefore {
  @apply bg-gray500 w-72 h-72 flex items-center justify-center mx-auto;
}

.carouselBtn {
  @apply font-semibold uppercase disabled:cursor-not-allowed;
  @apply dark:text-white;
}

.carouselBtnWrapper {
  @apply flex justify-between mt-2 px-2;
}

.postBtnWrapper {
  @apply flex justify-end gap-2 w-72 mt-4 mb-6;
}
button.postBtn {
  @apply py-1 px-3.5  rounded-xl absolute top-6 bg-primary dark:bg-gray700;
}

.textareaWrapper {
  @apply flex flex-col gap-2 w-full items-center;
}

.textarea {
  @apply py-1.5 px-4 w-[280px]  min-h-[108px] max-h-[280px] rounded-xl bg-secondary text-sm;
  @apply focus:outline-none focus:ring-2 focus:ring-gray600 focus:ring-offset-2;
  @apply text-gray900 placeholder:text-gray900;
  @apply dark:bg-gray700;
}
/* selectEmoji ------------------------------------------------------------------------- */
.selectEmojiWrapper {
  @apply flex justify-center relative;
}
.selectEmoji {
  @apply appearance-none rounded-full bg-transparent text-white w-6 h-6;
  @apply focus:ring-1 focus:ring-gray900;
}

.speechBubbleHead {
  @apply absolute left-1/2 transform -translate-x-1/2 translate-y-1/2 bottom-0 -rotate-45 bg-primary w-2 h-2;
}
.speechBubbleBody {
  @apply relative bg-primary w-24 h-12 rounded-xl cursor-pointer flex justify-center items-center;
}

.statusListWrapper {
  @apply flex absolute top-3 gap-1;
}

.statusItem {
  @apply absolute left-[1px];
}
