.postWrapper {
  @apply h-[calc(100vh-172px)] min-w-[320px] mb-10 mx-auto overflow-y-scroll;
}

.photoWrapper {
  @apply flex bg-gray500 w-72 h-72;
}

.uploadImage {
  @apply border w-72 h-72 focus:ring-2 focus:ring-primary focus:ring-offset-2;
}

.colLayout {
  @apply flex flex-col;
}

.inputWrapper {
  @apply flex justify-between items-center gap-2 fixed top-[calc(100vh-105px)];
  @apply border-2 border-gray-900 rounded-[15px] w-72 h-7 p-4 bg-white;
}

.inputBtn {
  @apply bg-transparent w-7 h-5 whitespace-nowrap disabled:cursor-not-allowed;
}

.formWrapper {
  @apply w-72 mx-auto relative;
}

.postInnerWrapper {
  @apply relative mx-auto;
}

button.heartBtn {
  @apply absolute right-2 top-64 text-white flex;
  @layer text-outline-black;
}

.postingDate {
  @apply text-xs py-3;
}

.title {
  @apply font-semibold py-3;
}

.content {
  @apply py-3 font-semibold  leading-7;
}

.commentWrapper {
  @apply flex gap-2;
}

.commentUser {
  @apply bg-primary rounded-lg h-5 text-sm leading-[8px] px-2 py-[5px] font-semibold;
}

.noneComment {
  @apply text-sm text-gray800;
}

.postingUserInfoWrapper {
  @apply flex flex-col gap-5;
}

.postingUserItemWrapper {
  @apply flex flex-col text-sm gap-1;
}

.postingItemTitle {
  @apply font-semibold text-gray900;
}

.bodyType {
  @apply font-semibold text-gray900 bg-primary rounded-xl w-20 px-2 py-[5px] text-center;
}

.styleWrapper {
  @apply flex gap-2;
}

.styleItem {
  @apply bg-primary rounded-xl text-xs px-2 py-[5px] font-semibold;
}
