.suggestWrapper {
  @apply h-[calc(100vh-132px)] mx-auto overflow-y-scroll box-content relative min-w-[320px];
}

.selectRegionWrapper {
  @apply absolute right-3 top-5;
}

button.dropdownBtn {
  @apply relative border-2 rounded-xl w-52 p-3 text-gray900 text-start bg-white;
}

.downArrow {
  @apply absolute w-3 h-3 -rotate-90 right-4 bottom-4;
}

.upArrow {
  @apply absolute w-3 h-3 rotate-90 right-4 bottom-4;
}

.regionList {
  @apply border rounded-xl w-52 p-3 mt-2 overflow-y-scroll bg-white z-50 bg-opacity-100;
}

.regionItem {
  @apply h-12 border-b;
}

.regionItemInput {
  @apply focus-within:bg-gray300 w-44 h-12 appearance-none;
}

.suggestClothesWrapper {
  @apply mt-24 flex flex-col items-center;
}

.nowWeather {
  @apply w-32 mx-auto;
}

.nowWeatherDescription {
  @apply relative bottom-[20px] left-[170px];
}

.nowWeatherPoint {
  @apply bg-primary rounded-xl px-2;
}

.nowWeatherInfoWrapper {
  @apply box-border min-w-[310px] mx-auto;
  @apply border-[4px] border-secondary rounded-xl px-1 py-5;
}

.clothesImg {
  @apply w-60 mx-auto;
}

.clothesWrapper {
  @apply grid grid-cols-3 gap-x-3 gap-y-3;
}

.clothesItem {
  @apply bg-primary rounded-3xl px-1 py-[0.5px] whitespace-nowrap text-center;
}
